# Virtual environment
venv/
.venv/
.env
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Runtime data and user uploads
users.db
data.db
uploads/*
!uploads/.gitkeep

# Jupyter
.ipynb_checkpoints/
